.popular-products
  .popular-products__container
    .popular-products__title Популярные товары
  .popular-products__container
    .popular-products__slider
      a.popular-products__item(href="#")
        .popular-products__panel
          .popular-products__panel-item.popular-products__panel-item--favorites
          .popular-products__panel-item.popular-products__panel-item--list
        .popular-products__img-wrapper
          img.popular-products__img(src="img/bgs/6.png")
        .popular-products__subtitle
          | 011C Гитара
          br
          | классическая 4/4, Doff
        .popular-products__price-wrapper
          .popular-products__price
            .popular-products__price-item.popular-products__price-item--new 15 980 ₽
            .popular-products__price-item.popular-products__price-item--old 18 980 ₽
          .popular-products__price-basket
      a.popular-products__item(href="#")
        .popular-products__panel
          .popular-products__panel-item.popular-products__panel-item--favorites
          .popular-products__panel-item.popular-products__panel-item--list
        .popular-products__img-wrapper
          img.popular-products__img(src="img/bgs/6.png")
        .popular-products__subtitle
          | 011C Гитара
          br
          | классическая 4/4, Doff
        .popular-products__price-wrapper
          .popular-products__price.popular-products__price--default 15 980 ₽
          .popular-products__price-basket
      a.popular-products__item(href="#")
        .popular-products__panel
          .popular-products__panel-item.popular-products__panel-item--favorites
          .popular-products__panel-item.popular-products__panel-item--list
        .popular-products__img-wrapper
          img.popular-products__img(src="img/bgs/7.png")
        .popular-products__subtitle
          | 011C Гитара
          br
          | классическая 4/4, Doff
        .popular-products__price-wrapper
          .popular-products__price.popular-products__price--default 15 980 ₽
          .popular-products__price-basket
      a.popular-products__item(href="#")
        .popular-products__panel
          .popular-products__panel-item.popular-products__panel-item--favorites
          .popular-products__panel-item.popular-products__panel-item--list
        .popular-products__img-wrapper
          img.popular-products__img(src="img/bgs/8.png")
        .popular-products__subtitle
          | 011C Гитара
          br
          | классическая 4/4, Doff
        .popular-products__price-wrapper
          .popular-products__price.popular-products__price--default 15 980 ₽
          .popular-products__price-basket
      a.popular-products__item(href="#")
        .popular-products__panel
          .popular-products__panel-item.popular-products__panel-item--favorites
          .popular-products__panel-item.popular-products__panel-item--list
        .popular-products__img-wrapper
          img.popular-products__img(src="img/bgs/9.png")
        .popular-products__subtitle
          | 011C Гитара
          br
          | классическая 4/4, Doff
        .popular-products__price-wrapper
          .popular-products__price
            .popular-products__price-item.popular-products__price-item--new 15 980 ₽
            .popular-products__price-item.popular-products__price-item--old 18 980 ₽
          .popular-products__price-basket
    .popular-products__nav
      .popular-products__nav-item.popular-products__nav-item--prev
      .popular-products__nav-item.popular-products__nav-item--next
