.brands
  .brands__container
    .brands__title Популярные бренды
  .brands__container.brands__container--table
    table.brands__table
      tr.brands__table-tr
        td.brands__table-td.brands__table-td--subtitle
          .brands__subtitle Струнные
        td.brands__table-td.brands__table-td--subtitle
          .brands__subtitle Клавишные
        td.brands__table-td.brands__table-td--subtitle
          .brands__subtitle Ударные
        td.brands__table-td.brands__table-td--subtitle
          .brands__subtitle Духовые
        td.brands__table-td.brands__table-td--subtitle
          .brands__subtitle Язычковые
      tr.brands__table-tr
        td.brands__table-td
          a.brands__item.brands__item--1(href="#")
            img.brands__img(src="img/brands/1.png")
        td.brands__table-td
          a.brands__item.brands__item--6(href="#")
            img.brands__img(src="img/brands/6.png")
        td.brands__table-td
          a.brands__item.brands__item--11(href="#")
            img.brands__img(src="img/brands/11.png")
        td.brands__table-td
          a.brands__item.brands__item--16(href="#")
            img.brands__img(src="img/brands/16.png")
        td.brands__table-td
          a.brands__item.brands__item--21(href="#")
            img.brands__img(src="img/brands/21.png")
      tr.brands__table-tr
        td.brands__table-td
          a.brands__item.brands__item--2(href="#")
            img.brands__img(src="img/brands/2.png")
        td.brands__table-td
          a.brands__item.brands__item--7(href="#")
            img.brands__img(src="img/brands/7.png")
        td.brands__table-td
          a.brands__item.brands__item--12(href="#")
            img.brands__img(src="img/brands/12.png")
        td.brands__table-td
          a.brands__item.brands__item--17(href="#")
            img.brands__img(src="img/brands/17.png")
        td.brands__table-td
          a.brands__item.brands__item--22(href="#")
            img.brands__img(src="img/brands/22.png")
      tr.brands__table-tr
        td.brands__table-td
          a.brands__item.brands__item--3(href="#")
            img.brands__img(src="img/brands/3.png")
        td.brands__table-td
          a.brands__item.brands__item--8(href="#")
            img.brands__img(src="img/brands/8.png")
        td.brands__table-td
          a.brands__item.brands__item--13(href="#")
            img.brands__img(src="img/brands/13.png")
        td.brands__table-td
          a.brands__item.brands__item--18(href="#")
            img.brands__img(src="img/brands/18.png")
        td.brands__table-td
          a.brands__item.brands__item--23(href="#")
            img.brands__img(src="img/brands/23.png")
      tr.brands__table-tr
        td.brands__table-td
          a.brands__item.brands__item--4(href="#")
            img.brands__img(src="img/brands/4.png")
        td.brands__table-td
          a.brands__item.brands__item--9(href="#")
            img.brands__img(src="img/brands/9.png")
        td.brands__table-td
          a.brands__item.brands__item--14(href="#")
            img.brands__img(src="img/brands/14.png")
        td.brands__table-td
          a.brands__item.brands__item--19(href="#")
            img.brands__img(src="img/brands/19.png")
        td.brands__table-td
          a.brands__item.brands__item--24(href="#")
            img.brands__img(src="img/brands/24.png")
      tr.brands__table-tr
        td.brands__table-td
          a.brands__item.brands__item--5(href="#")
            img.brands__img(src="img/brands/5.png")
        td.brands__table-td
          a.brands__item.brands__item--10(href="#")
            img.brands__img(src="img/brands/10.png")
        td.brands__table-td
          a.brands__item.brands__item--15(href="#")
            img.brands__img(src="img/brands/15.png")
        td.brands__table-td
          a.brands__item.brands__item--20(href="#")
            img.brands__img(src="img/brands/20.png")
        td.brands__table-td
          a.brands__item.brands__item--25(href="#")
            img.brands__img(src="img/brands/25.png")
    //- .brands__col
    //-   .brands__subtitle.brands__subtitle--indent-1 Струнные
    //-   a.brands__item.brands__item--1(href="#")
    //-     img.brands__img(src="img/brands/1.png")
    //-   a.brands__item.brands__item--2(href="#")
    //-     img.brands__img(src="img/brands/2.png")
    //-   a.brands__item.brands__item--3(href="#")
    //-     img.brands__img(src="img/brands/3.png")
    //-   a.brands__item.brands__item--4(href="#")
    //-     img.brands__img(src="img/brands/4.png")
    //-   a.brands__item.brands__item--5(href="#")
    //-     img.brands__img(src="img/brands/5.png")
    //- .brands__col
    //-   .brands__subtitle.brands__subtitle--indent-2 Клавишные
    //-   a.brands__item.brands__item--6(href="#")
    //-     img.brands__img(src="img/brands/6.png")
    //-   a.brands__item.brands__item--7(href="#")
    //-     img.brands__img(src="img/brands/7.png")
    //-   a.brands__item.brands__item--8(href="#")
    //-     img.brands__img(src="img/brands/8.png")
    //-   a.brands__item.brands__item--9(href="#")
    //-     img.brands__img(src="img/brands/9.png")
    //-   a.brands__item.brands__item--10(href="#")
    //-     img.brands__img(src="img/brands/10.png")
    //- .brands__col
    //-   .brands__subtitle.brands__subtitle--indent-3 Ударные
    //-   a.brands__item.brands__item--11(href="#")
    //-     img.brands__img(src="img/brands/11.png")
    //-   a.brands__item.brands__item--12(href="#")
    //-     img.brands__img(src="img/brands/12.png")
    //-   a.brands__item.brands__item--13(href="#")
    //-     img.brands__img(src="img/brands/13.png")
    //-   a.brands__item.brands__item--14(href="#")
    //-     img.brands__img(src="img/brands/14.png")
    //-   a.brands__item.brands__item--15(href="#")
    //-     img.brands__img(src="img/brands/15.png")
    //- .brands__col
    //-   .brands__subtitle.brands__subtitle--indent-4 Духовые
    //-   a.brands__item.brands__item--16(href="#")
    //-     img.brands__img(src="img/brands/16.png")
    //-   a.brands__item.brands__item--17(href="#")
    //-     img.brands__img(src="img/brands/17.png")
    //-   a.brands__item.brands__item--18(href="#")
    //-     img.brands__img(src="img/brands/18.png")
    //-   a.brands__item.brands__item--19(href="#")
    //-     img.brands__img(src="img/brands/19.png")
    //-   a.brands__item.brands__item--20(href="#")
    //-     img.brands__img(src="img/brands/20.png")
    //- .brands__col
    //-   .brands__subtitle.brands__subtitle--indent-5 Язычковые
    //-   a.brands__item.brands__item--21(href="#")
    //-     img.brands__img(src="img/brands/21.png")
    //-   a.brands__item.brands__item--22(href="#")
    //-     img.brands__img(src="img/brands/22.png")
    //-   a.brands__item.brands__item--23(href="#")
    //-     img.brands__img(src="img/brands/23.png")
    //-   a.brands__item.brands__item--24(href="#")
    //-     img.brands__img(src="img/brands/24.png")
    //-   a.brands__item.brands__item--25(href="#")
    //-     img.brands__img(src="img/brands/25.png")
