.banners
  .banners__container
    a.banners__item(href="#")
      .banners__subtitle саксофон
      .banners__title Selmer Super Action 80
      .banners__price 16 450 ₽
      img.banners__img(src="img/bgs/4.png")
    a.banners__item.banners__item--big(href="#")
      .banners__subtitle электронное пианино
      .banners__title CASIO CDP 320k
      .banners__price 38 890 ₽
      img.banners__img(src="img/bgs/4.png")
    a.banners__item(href="#")
      .banners__subtitle электрогитара
      .banners__title Ibanez RG450 Japan 2001
      .banners__price 49 990 ₽
      img.banners__img(src="img/bgs/4.png")
