.cover
  .cover__container
    .cover__slider
      a.cover__item(href="#")
        .cover__subtitle Акустическая гитара
        .cover__title
          | AD810-BKS
          br
          | Standard Series
        .cover__price
          .cover__price-new 12 350 ₽
          .cover__price-old 16 350 ₽
        img.cover__img(src="img/bgs/1.png")
      a.cover__item(href="#")
        .cover__subtitle Акустическая гитара
        .cover__title
          | AD810-BKS
          br
          | Standard Series
        .cover__price
          .cover__price-new 12 350 ₽
          .cover__price-old 16 350 ₽
        img.cover__img(src="img/bgs/1.png")
    .cover__nav
      .cover__nav-item.cover__nav-item--prev
      .cover__nav-item.cover__nav-item--next
