.header
  padding: 8px 0 0 0
  margin: 0 0 39px
  @include breakpoint($tablet)
    padding: 0 0 0 0
    margin: 0 0 13px
  &--desktop
    @include breakpoint($tablet)
      display: none
  &--mobile
    display: none
    @include breakpoint($tablet)
      display: block
  &__container
    @include glass
    display: flex
    align-items: center
    &--top
      justify-content: space-between
      margin-bottom: 22px
      @include breakpoint($tablet)
        background: $color-purple-2
        padding-top: 6px
        padding-bottom: 6px
        margin-bottom: 9px
        align-items: flex-end
    &--middle
      margin-bottom: 13px
      align-items: center
      justify-content: space-between
    &--bottom
      justify-content: flex-start
  &__col
    &--left
    &--right
      display: flex
      justify-content: flex-end
      align-items: center
  &__dropdown
    display: flex
    justify-content: flex-start
    align-items: center
    cursor: pointer
    &:after
      content: ''
      @extend .icon-arrow-red-bottom
      margin: 2.5px 0 0 4px
  &__dropdown-title
    font: 700 15px/1.533 $font-primary
    color: $color-purple
    @include breakpoint($tablet)
      font: 700 13px/1.538 $font-primary
  &__sub-nav
    margin: 0 53px 0 0
  &__sub-nav--item
    font: 400 15px/1.533 $font-primary
    color: rgba($color-black, 0.3)
    margin: 0 40px 0 0
    text-decoration: none
    transition: color 0.24s ease
    &:hover
      color: $color-purple-3
    &:last-child
      margin-right: 0
  &__social
    display: flex
    justify-content: flex-start
    align-items: center
  &__social-item
    opacity: 0.15
    &:hover
      opacity: 1
      transition: all 0.24s ease
    &--vk
      @extend .icon-vk
      margin: 0 11.25px 0 0
      &:hover
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.306 11.964c-.06-.101-.434-.91-2.235-2.575-1.885-1.743-1.632-1.46.639-4.473 1.383-1.835 1.935-2.956 1.762-3.435-.164-.457-1.181-.336-1.181-.336l-3.382.02s-.25-.034-.438.076c-.181.11-.298.362-.298.362s-.536 1.42-1.25 2.628c-1.507 2.548-2.11 2.682-2.357 2.524-.573-.368-.43-1.482-.43-2.272 0-2.47.377-3.5-.732-3.766-.369-.088-.639-.147-1.58-.157-1.207-.012-2.23.005-2.808.286-.385.188-.682.607-.5.63.223.03.73.137.998.5.348.47.335 1.526.335 1.526s.2 2.907-.466 3.269C7.926 7.019 7.3 6.513 5.957 4.2c-.688-1.184-1.209-2.494-1.209-2.494s-.1-.243-.278-.374c-.217-.158-.52-.208-.52-.208l-3.217.02s-.482.013-.66.222c-.157.186-.012.57-.012.57s2.518 5.866 5.368 8.823c2.615 2.71 5.584 2.533 5.584 2.533h1.345s.406-.045.613-.268c.191-.204.184-.588.184-.588s-.027-1.798.812-2.062c.826-.26 1.886 1.737 3.01 2.506.85.581 1.496.454 1.496.454l3.006-.042s1.573-.097.827-1.328z' fill='%235282B8'/%3E%3C/svg%3E")
    &--facebook
      @extend .icon-facebook
      margin: 0 11.34px 0 0
      &:hover
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.675 0H1.747A.988.988 0 00.76.988v15.928c0 .545.442.987.988.987h8.575V10.98H7.998V8.27h2.325V6.275c0-2.312 1.412-3.571 3.475-3.571.988 0 1.838.073 2.085.106v2.418h-1.422c-1.123 0-1.34.533-1.34 1.316V8.27h2.683l-.35 2.71h-2.333v6.923h4.554a.988.988 0 00.988-.988V.987A.988.988 0 0017.675 0z' fill='%233B589E'/%3E%3C/svg%3E")
    &--instagram
      @extend .icon-instagram
      margin: 0 9.72px 0 0
      &:hover
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.197 0H3.539A2.626 2.626 0 00.916 2.623V15.28a2.626 2.626 0 002.623 2.622h12.658a2.626 2.626 0 002.622-2.622V2.623A2.626 2.626 0 0016.197 0zM9.903 13.637a4.726 4.726 0 01-4.721-4.72 4.726 4.726 0 014.72-4.72 4.726 4.726 0 014.721 4.72 4.726 4.726 0 01-4.72 4.72zm5.245-8.392a1.575 1.575 0 01-1.574-1.573c0-.868.706-1.574 1.574-1.574.867 0 1.573.706 1.573 1.574 0 .867-.706 1.573-1.573 1.573z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M15.148 3.147a.525.525 0 100 1.05.525.525 0 000-1.05z' fill='url(%23paint1_linear)'/%3E%3Cpath d='M9.903 5.245A3.676 3.676 0 006.23 8.917a3.676 3.676 0 003.672 3.671 3.676 3.676 0 003.671-3.671 3.676 3.676 0 00-3.671-3.672z' fill='url(%23paint2_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9.868' y1='0' x2='9.868' y2='17.903' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F200A3'/%3E%3Cstop offset='.495' stop-color='red'/%3E%3Cstop offset='1' stop-color='%23FFC100'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='9.868' y1='0' x2='9.868' y2='17.903' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F200A3'/%3E%3Cstop offset='.495' stop-color='red'/%3E%3Cstop offset='1' stop-color='%23FFC100'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear' x1='9.868' y1='0' x2='9.868' y2='17.903' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F200A3'/%3E%3Cstop offset='.495' stop-color='red'/%3E%3Cstop offset='1' stop-color='%23FFC100'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")
    &--telegram
      @extend .icon-telegram
      &:hover
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.568 11.148l-.339 4.713c.485 0 .694-.206.946-.453l2.27-2.148 4.704 3.41c.863.476 1.471.226 1.704-.785L20.94 1.56c.274-1.263-.46-1.757-1.301-1.447L1.489 6.993c-1.239.475-1.22 1.159-.21 1.469l4.64 1.429 10.779-6.677c.507-.333.968-.149.589.184l-8.72 7.75z' fill='%231E96C8'/%3E%3C/svg%3E")
  &__logo
    @extend .icon-logo
    margin: 0 37px 0 0
    @include hover
    @include breakpoint($desktop)
      margin: 0 18.5px 0 0
    @include breakpoint($tablet)
      background-image: url("data:image/svg+xml,%3Csvg width='89' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23A0148E' fill-rule='evenodd'%3E%3Cpath d='M0 0l3.8 2.017v13.177H19V19H0z'/%3E%3Cpath d='M7.464 11.536V4.07L9.47 5.082l2.067-.992v7.446zM15.607 11.536V1.993L19 0v11.536z'/%3E%3Cpath d='M34.785 13.4h-4.32V6.065c0-.345-.165-.435-.435-.435h-1.485c-.27 0-.435.09-.435.435v9c0 .27.09.435.435.435h6.24c.345 0 .435-.165.435-.435v-1.23c0-.27-.09-.435-.435-.435zm11.656-7.785H45c-.495 0-.57.33-.675.51l-2.07 3.69-2.056-3.69c-.12-.18-.18-.51-.69-.51h-1.484c-.346 0-.436.165-.436.435v9.015c0 .345.165.435.435.435h1.486c.27 0 .434-.09.434-.435V9.98l1.516 2.625c.075.12.195.315.42.315h.75c.224 0 .36-.195.434-.315l1.5-2.625v5.085c0 .345.166.435.436.435h1.44c.27 0 .434-.09.434-.435V6.05c0-.27-.09-.435-.434-.435zM58.33 15.08l-3.316-8.985c-.135-.315-.285-.465-.614-.465h-1.44c-.33 0-.495.15-.616.465l-3.33 8.985c-.075.18-.075.42.255.42h1.575c.33 0 .45-.09.57-.45l.42-1.185h3.675l.42 1.185c.12.36.24.45.57.45h1.575c.33 0 .33-.24.256-.42zm-5.776-3.315L53.68 8.45l1.125 3.315h-2.25zm15.95 3.255l-2.115-3.075c.93-.315 2.085-1.41 2.085-2.985 0-.96-.315-1.815-.87-2.355-.63-.63-1.35-.96-2.985-.96h-3.78c-.345 0-.42.165-.42.435v8.985c0 .345.15.435.42.435h1.485c.27 0 .435-.09.435-.435v-7.32h1.995c.78 0 1.38.495 1.38 1.275 0 .705-.69 1.215-1.425 1.215h-.3c-.345 0-.435.165-.435.435v1.2c0 .42.03.585.165.765l1.62 2.415c.21.315.39.45.75.45h1.77c.285 0 .36-.27.225-.48zm10.875-9.39h-2.025c-.345 0-.45.03-.75.36l-3.105 3.42V6.065c0-.345-.165-.435-.42-.435h-1.485c-.285 0-.435.09-.435.435v9c0 .345.15.435.435.435h1.485c.255 0 .42-.09.42-.435v-2.67l.93-.975c.81 1.35 2.145 3.6 2.145 3.6.195.315.39.48.75.48h1.83c.285 0 .345-.285.225-.48l-3.225-5.31 3.375-3.66c.135-.135.135-.42-.15-.42zm9.02 0h-6.96c-.346 0-.436.165-.436.435V7.31c0 .27.09.435.435.435h2.31v7.32c0 .345.165.435.435.435h1.485c.27 0 .435-.09.435-.435v-7.32h2.295c.345 0 .435-.165.435-.435V6.065c0-.27-.09-.435-.435-.435z' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E")
      width: 89px
      height: 19px
      min-width: 89px
      min-height: 19px
  &__btn
    background: $color-purple
    border-radius: 2px
    font: 700 15px/1.533 $font-primary
    color: $color-white
    padding: 10.5px 25px 12.5px 24px
    display: flex
    justify-content: flex-start
    align-items: center
    cursor: pointer
    margin: 0 30px 0 0
    transition: all 0.24s ease
    @include breakpoint($desktop)
      margin: 0 18.5px 0 0
    &:hover
      background: $color-purple-3
    &:before
      content: ''
      @extend .icon-matrix
      width: 17px
      height: 16px
      margin: 0 12px 0 0
      transition: all 0.24s ease
    &--active
      background: $color-purple-2 !important
      z-index: 5
      color: $color-purple !important
      &:before
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.44 1.44l14.12 14.12m0-14.12L1.44 15.56' stroke='%23A0148E' stroke-width='2.5'/%3E%3C/svg%3E")
        width: 17px
        height: 17px
  &__form
    margin: 0 32px 0 0
    @include breakpoint($desktop-max)
      margin: 0 40px 0 0
    @include breakpoint($desktop)
      margin: 0 22px 0 0
    @include breakpoint($tablet)
      margin-right: 0
      width: 100%
  &__search
    position: relative
  &__search-input
    @include default-text-input
    min-width: 200px
    width: 26.61764705882353vw !important
    max-width: 362px !important
    z-index: 1
    @include breakpoint($tablet)
      min-width: 100%
      width: 100%
      max-width: 100%
  &__search-btn
    background-color: transparent
    user-select: none
    border: none
    outline: none
    position: absolute
    right: 0
    top: 50%
    transform: translate3d(0,-50%,0)
    z-index: 2
    cursor: pointer
    width: 40px
    height: 100%
    &:after
      content: ''
      @extend .icon-search
      position: absolute
      right: 17.1px
      top: 50%
      transform: translate3d(0,-50%,0)
      transition: background-image 0.24s ease
    &:hover
      &:after
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6.415' cy='7.077' r='4.25' transform='rotate(-15 6.415 7.077)' stroke='%23D866C9' stroke-width='1.5'/%3E%3Cpath stroke='%23D866C9' stroke-width='1.5' d='M8.949 10.154l4.48 4.521'/%3E%3C/svg%3E")
  &__phone
    font: 400 24px/1.208333 $font-secondary
    @include fluid-type(1024px, 1200px, 13px, 24px)
    color: $color-black
    text-decoration: none
    @include hover
  &__add-nav
    display: flex
    justify-content: flex-start
    align-items: flex-end
    margin: 0 0 0 auto
  &__add-nav-item
    font: 400 9px/1.555 $font-primary
    color: rgba($color-purple,0.6)
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    text-decoration: none
    // margin: 0 22px 0 0
    position: relative
    transition: color 0.24s ease
    &:last-child
      margin-right: 0
    &:before
      content: ''
    &:hover
      color: $color-purple-3
      &:before
        transition: background-image 0.24s ease
    &--favorites
      margin: 0 23px 0 0
      &:before
        @extend .icon-heart
        margin: 0 0 3px
      &:hover
        &:before
          background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.223 1.764a6.094 6.094 0 00-4.305-1.75 6.11 6.11 0 00-4.31 1.755l-.601.59-.611-.6A6.125 6.125 0 006.082 0a6.103 6.103 0 00-4.3 1.75A5.871 5.871 0 000 5.984c0 1.599.639 3.097 1.791 4.228l8.759 8.605a.635.635 0 00.886.005l8.778-8.591A5.895 5.895 0 0022 5.997a5.867 5.867 0 00-1.777-4.233zm-.895 7.592l-8.335 8.155-8.316-8.17A4.675 4.675 0 011.26 5.985c0-1.27.5-2.46 1.413-3.354a4.839 4.839 0 013.41-1.388c1.292 0 2.51.494 3.423 1.392L10.56 3.67a.636.636 0 00.891 0l1.045-1.026a4.854 4.854 0 013.419-1.393c1.287 0 2.5.495 3.414 1.388a4.67 4.67 0 011.413 3.358 4.652 4.652 0 01-1.413 3.359z' fill='%23D866C9'/%3E%3C/svg%3E")
      @include breakpoint($desktop)
        margin: 0 17.692307692307692px 0 0
    &--comparison
      margin: 0 28px 0 0
      &:before
        @extend .icon-list
        margin: 0 0 6px
      &:hover
        &:before
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 15h-14m-2 0h-4m20-7h-14m-2 0h-4m20-7h-14m-2 0h-4' stroke='%23D866C9' stroke-width='1.4'/%3E%3C/svg%3E")
      @include breakpoint($desktop)
        margin: 0 21.538461538461538px 0 0
    &--profile
      margin: 0 32px 0 0
      z-index: 5
      position: relative
      &:before
        @extend .icon-user
        margin: 0 0 3px
      &:hover
        &:before
          background-image: url("data:image/svg+xml,%3Csvg width='21' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.184 12.87S1.5 15.152 1.5 17.89C1.5 20.631 4.342 22 6.237 22h8.526c1.895 0 4.737-1.37 4.737-4.109s-5.684-5.021-5.684-5.021M10.5 1C8.132 1 6.237 3.693 6.237 6.478c0 2.785 1.895 5.479 4.263 5.479s4.263-2.74 4.263-5.479S12.868 1 10.5 1z' stroke='%23D866C9' stroke-width='1.2'/%3E%3C/svg%3E")
      @include breakpoint($desktop)
        margin: 0 24.615384615384615px 0 0
    &--basket
      &:before
        @extend .icon-basket
        margin: 0 0 3px
      &:hover
        &:before
          background-image: url("data:image/svg+xml,%3Csvg width='25' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.5 1h3.68c.46 0 .92.444 1.38.889.46.444.92 2.222.92 2.222l.03.445m3.152 14.666h-.92S7.4 18.778 7.4 17.89s-.356-5.333-.356-5.333m2.618 6.666s0-1.778 1.84-1.778 1.84 1.778 1.84 1.778m-3.68 0s0 1.778 1.84 1.778 1.84-1.778 1.84-1.778m0 0h3.68m0 0s0-1.778 1.84-1.778 1.84 1.778 1.84 1.778 0 1.778-1.84 1.778-1.84-1.778-1.84-1.778zM6.51 4.556H23.5v6.666c0 1.334-1.84 1.334-1.84 1.334H7.044m-.534-8l.534 8' stroke='%23D866C9' stroke-width='1.3'/%3E%3C/svg%3E")
      @include breakpoint($desktop)
  &__add-nav-counter
    font: 700 9px/1 $font-primary
    color: $color-white
    background: $color-purple
    width: 12px
    height: 12px
    border-radius: 6px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid $color-white
    position: absolute
    left: 15px
    top: -2px
  &__mobile-nav-item
    font: 400 9px/1.555 $font-primary
    color: rgba($color-purple,0.6)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    text-decoration: none
    &:before
      content: ''
    &--menu
      &:before
        @extend .icon-matrix-2
        margin: 0 0 4px
    &--call
      &:before
        @extend .icon-phone
    &--profile
      &:before
        @extend .icon-user
        transform: translate3d(0,-2px,0)
    &--basket
      &:before
        @extend .icon-basket
  &__profile-wrapper
    position: relative
    &:before
      content: ''
      display: none
      width: 61px
      height: 52px
      background: $color-white
      border-radius: 4px 4px 0 0
      position: absolute
      left: -10px
      top: -7px
      z-index: 5
    &--active
      &:before
        display: block
  &__profile-list
    display: none
    position: absolute
    left: -100px
    top: 45px
    border-radius: 4px
    background: $color-white
    z-index: 5
    overflow: hidden
    width: 241px
    .header__profile-wrapper--active &
      display: block
  &__profile-row
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    width: 100%
  &__profile-item
    width: 100%
    font: 700 15px/38px $font-primary
    color: $color-black
    background: $color-white
    text-decoration: none
    padding: 0 20px 0 24px
    border-bottom: 2px solid $color-purple-2
    transition: all 0.24s ease
    &:first-child
      padding-top: 8px
    &:last-child
      border-bottom: 0
    &--green
      color: $color-green
    &--gray
      color: rgba($color-black,0.5)
      padding-top: 2px !important
      padding-bottom: 12px
    &--blue
      color: $color-blue
    &:hover
      background: $color-purple-2
      color: $color-purple
  &__overlay
    background: rgba($color-black-2,0.2)
    width: 100%
    height: 100%
    position: fixed
    left: 0
    right: 0
    top: 0
    bottom: 0
    z-index: 4
    display: none
    &--active
      display: block
