.header.header--desktop
  .header__container.header__container--top
    .header__col.header__col--left
      .header__dropdown
        .header__dropdown-title Москва
    .header__col.header__col--right
      .header__sub-nav
        a.header__sub-nav--item(href="#") Пункты выдачи и&nbsp;постаматы
        a.header__sub-nav--item(href="#") О&nbsp;маркетплейсе
        a.header__sub-nav--item(href="#") Где мой заказ?
        a.header__sub-nav--item(href="#") Контакты
      .header__social
        a.header__social-item.header__social-item--vk(href="#")
        a.header__social-item.header__social-item--facebook(href="#")
        a.header__social-item.header__social-item--instagram(href="#")
        a.header__social-item.header__social-item--telegram(href="#")
  .header__container.header__container--bottom
    a.header__logo(href="/")
    .header__btn Каталог
    form.header__form
      .header__search
        input.header__search-input(type="text" value="" name="" placeholder="Поиск по сайту")
        button.header__search-btn(type="submit")
    a.header__phone(href="tel:+78006110097") 8 800 611 00 97
    .header__add-nav
      a.header__add-nav-item.header__add-nav-item--favorites(href="#") Избранное
      a.header__add-nav-item.header__add-nav-item--comparison(href="#") Сравнение
      .header__profile-wrapper
        a.header__add-nav-item.header__add-nav-item--profile(href="#") Профиль
        .header__profile-list
          .header__profile-row
            a.header__profile-item.header__profile-item--green(href="#") Партнёрка
            a.header__profile-item.header__profile-item--blue(href="#") Операторская
            a.header__profile-item(href="#") Мои заказы
            a.header__profile-item(href="#") Мои данные
            a.header__profile-item(href="#") Партнёрская программа
          .header__profile-row
            a.header__profile-item.header__profile-item--gray(href="#") Выход
      a.header__add-nav-item.header__add-nav-item--basket(href="#")
        .header__add-nav-counter 2
        | Корзина
  include ../nav/nav
  .header__overlay
.header.header--mobile
  .header__container.header__container--top
    a.header__mobile-nav-item.header__mobile-nav-item--menu(href="#") Меню
    a.header__mobile-nav-item.header__mobile-nav-item--call(href="#") Позвонить нам
    a.header__mobile-nav-item.header__mobile-nav-item--profile(href="#") Профиль
    a.header__mobile-nav-item.header__mobile-nav-item--basket(href="#") Корзина
  .header__container.header__container--middle
    a.header__logo(href="/")
    .header__dropdown
      .header__dropdown-title Москва
  .header__container.header__container--bottom
    form.header__form
      .header__search
        input.header__search-input(type="text" value="" name="" placeholder="Поиск по сайту")
        button.header__search-btn(type="submit")
