.popular-categories
  .popular-categories__container
    .popular-categories__title Популярные категории
  .popular-categories__container
    .popular-categories__slider
      a.popular-categories__item(href="#")
        .popular-categories__subtitle Классические гитары
        img.popular-categories__img(src="img/bgs/2.png")
      a.popular-categories__item(href="#")
        .popular-categories__subtitle Синтезаторы
        img.popular-categories__img(src="img/bgs/3.png")
      a.popular-categories__item(href="#")
        .popular-categories__subtitle Электрогитары
        img.popular-categories__img(src="img/bgs/2.png")
      a.popular-categories__item(href="#")
        .popular-categories__subtitle Усилители
        img.popular-categories__img(src="img/bgs/2.png")
      a.popular-categories__item(href="#")
        .popular-categories__subtitle Еще
        img.popular-categories__img(src="img/bgs/2.png")
    .popular-categories__nav
      .popular-categories__nav-item.popular-categories__nav-item--prev
      .popular-categories__nav-item.popular-categories__nav-item--next
