.tools-by-type
  .tools-by-type__container
    .tools-by-type__title Инструменты по&nbsp;видам
  .tools-by-type__container
    .tools-by-type__slider
      .tools-by-type__item
        .tools-by-type__img-wrapper.tools-by-type__img-wrapper--guitar
          img.tools-by-type__img(src="img/instruments/icon-guitar.svg")
        .tools-by-type__subtitle Струнные
        .tools-by-type__list
          a.tools-by-type__list-item(href="#") Классические гитары
          a.tools-by-type__list-item(href="#") Акустические гитары
          a.tools-by-type__list-item(href="#") Акустические бас-гитары
          a.tools-by-type__list-item(href="#") Электрогитары
          a.tools-by-type__list-item(href="#") Бас-гитары
          a.tools-by-type__list-item(href="#") Укулеле
      .tools-by-type__item
        .tools-by-type__img-wrapper.tools-by-type__img-wrapper--synth
          img.tools-by-type__img(src="img/instruments/icon-synth.svg")
        .tools-by-type__subtitle Клавишные
        .tools-by-type__list
          a.tools-by-type__list-item(href="#") Синтезаторы
          a.tools-by-type__list-item(href="#") Цифровые пианино
          a.tools-by-type__list-item(href="#") Цифровые органы
          a.tools-by-type__list-item(href="#") Акустические клавишные инструменты
          a.tools-by-type__list-item(href="#") MIDI-клавиатуры
      .tools-by-type__item
        .tools-by-type__img-wrapper.tools-by-type__img-wrapper--drum
          img.tools-by-type__img(src="img/instruments/icon-drum.svg")
        .tools-by-type__subtitle Ударные
        .tools-by-type__list
          a.tools-by-type__list-item(href="#") Акустические ударные
          a.tools-by-type__list-item(href="#") Электронные ударные
          a.tools-by-type__list-item(href="#") Тарелки
          a.tools-by-type__list-item(href="#") Стойки
          a.tools-by-type__list-item(href="#") Рамы
          a.tools-by-type__list-item(href="#") Педали
      .tools-by-type__item
        .tools-by-type__img-wrapper.tools-by-type__img-wrapper--saxophone
          img.tools-by-type__img(src="img/instruments/icon-saxophone.svg")
        .tools-by-type__subtitle Духовые
        .tools-by-type__list
          a.tools-by-type__list-item(href="#") Блок-флейты
          a.tools-by-type__list-item(href="#") Флейты
          a.tools-by-type__list-item(href="#") Саксофоны
          a.tools-by-type__list-item(href="#") Кларнеты
          a.tools-by-type__list-item(href="#") Трубы
          a.tools-by-type__list-item(href="#") Тромбоны
      .tools-by-type__item
        .tools-by-type__img-wrapper.tools-by-type__img-wrapper--accordion
          img.tools-by-type__img(src="img/instruments/icon-accordion.svg")
        .tools-by-type__subtitle Язычковые
        .tools-by-type__list
          a.tools-by-type__list-item(href="#") Блок-флейты
          a.tools-by-type__list-item(href="#") Флейты
          a.tools-by-type__list-item(href="#") Саксофоны
          a.tools-by-type__list-item(href="#") Кларнеты
          a.tools-by-type__list-item(href="#") Трубы
      .tools-by-type__item
        .tools-by-type__img-wrapper.tools-by-type__img-wrapper--accordion
          img.tools-by-type__img(src="img/instruments/icon-accordion.svg")
        .tools-by-type__subtitle Еще текст
        .tools-by-type__list
          a.tools-by-type__list-item(href="#") Блок-флейты
          a.tools-by-type__list-item(href="#") Флейты
          a.tools-by-type__list-item(href="#") Саксофоны
          a.tools-by-type__list-item(href="#") Кларнеты
          a.tools-by-type__list-item(href="#") Трубы
    .tools-by-type__nav
      .tools-by-type__nav-item.tools-by-type__nav-item--prev
      .tools-by-type__nav-item.tools-by-type__nav-item--next
    .tools-by-type__arrow
