$color-black: #2D0027
$color-black-2: #3F0738

$color-white: white
$color-white-2: #F9EFF7
$color-white-3: #EFE4ED

$color-purple: #A0148E
$color-purple-2: #FFF8FE

$color-red: #EF2D2D
// $color-gray: gray
// $color-pink: pink
// $color-orange: orange
// $color-yellow: yellow
// $color-green: green
// $color-blue: blue
