.footer.footer--desktop
  .footer__container
    .footer__col
      .footer__nav-title Покупателям
      .footer__nav-list
        a.footer__nav-item(href="#") Оплата и&nbsp;доставка
        a.footer__nav-item(href="#") Обратная связь
        a.footer__nav-item(href="#") Мои заказы
        a.footer__nav-item(href="#") Карта скидок
        a.footer__nav-item(href="#") Правовая информация
      .footer__copyright &copy;&nbsp;&nbsp;2008&ndash;2020&nbsp;ООО &laquo;ЛМАРКТ&raquo;.
    .footer__col
      .footer__nav-title Партнерам
      .footer__nav-list
        a.footer__nav-item(href="#") Начать сотрудничество
        a.footer__nav-item(href="#") Консультация
        a.footer__nav-item(href="#") Справка
    .footer__col
      .footer__nav-title Компания
      .footer__nav-list
        a.footer__nav-item(href="#") О нас
        a.footer__nav-item(href="#") Реквизиты
        a.footer__nav-item(href="#") Контакты
        a.footer__nav-item(href="#") Вакансии
      .footer__social
        a.footer__social-item.footer__social-item--vk(href="#")
        a.footer__social-item.footer__social-item--facebook(href="#")
        a.footer__social-item.footer__social-item--instagram(href="#")
        a.footer__social-item.footer__social-item--telegram(href="#")
    .footer__col
      .footer__nav-title.footer__nav-title--indent-big Приложение
      .footer__nav-list
        a.footer__nav-btn.footer__nav-btn--google-play(href="#")
        a.footer__nav-btn.footer__nav-btn--app-store(href="#")
      a.footer__phone(href="tel:+78006110097") 8 800 611 00 97
.footer.footer--mobile
  .footer__container.footer__container--top
    .footer__nav-wrapper-mobile
      .footer__nav-group-mobile.footer__nav-group-mobile--active
       .footer__nav-title-mobile Покупателям
       .footer__nav-list-mobile
        a.footer__nav-item-mobile(href="#") Оплата и&nbsp;доставка
        a.footer__nav-item-mobile(href="#") Обратная связь
        a.footer__nav-item-mobile(href="#") Мои заказы
        a.footer__nav-item-mobile(href="#") Карта скидок
        a.footer__nav-item-mobile(href="#") Правовая информация
      .footer__nav-group-mobile
       .footer__nav-title-mobile Партнерам
       .footer__nav-list-mobile
        a.footer__nav-item-mobile(href="#") Начать сотрудничество
        a.footer__nav-item-mobile(href="#") Консультация
        a.footer__nav-item-mobile(href="#") Справка
      .footer__nav-group-mobile
       .footer__nav-title-mobile Компания
       .footer__nav-list-mobile
        a.footer__nav-item-mobile(href="#") О нас
        a.footer__nav-item-mobile(href="#") Реквизиты
        a.footer__nav-item-mobile(href="#") Контакты
        a.footer__nav-item-mobile(href="#") Вакансии
  .footer__container.footer__container--bottom
    a.footer__phone(href="tel:+78006110097") 8 800 611 00 97
    .footer__nav-list
      a.footer__nav-btn.footer__nav-btn--google-play(href="#")
      a.footer__nav-btn.footer__nav-btn--app-store(href="#")
    .footer__social
      a.footer__social-item.footer__social-item--vk(href="#")
      a.footer__social-item.footer__social-item--facebook(href="#")
      a.footer__social-item.footer__social-item--instagram(href="#")
      a.footer__social-item.footer__social-item--telegram(href="#")
    .footer__copyright &copy;&nbsp;&nbsp;2008&ndash;2020&nbsp;ООО &laquo;ЛМАРКТ&raquo;.
