nav.nav
  ul.nav__list.nav__list--global
    li.nav__item.nav__item--active
      a.nav__list-link(href="#") Гитары
    li.nav__item
      a.nav__list-link(href="#") Клавишные инструменты
    li.nav__item
      a.nav__list-link(href="#") Ударные инструменты
    li.nav__item
      a.nav__list-link(href="#") Микрофоны и&nbsp;радиосистемы
    li.nav__item
      a.nav__list-link(href="#") DJ&nbsp;оборудование
    li.nav__item
      a.nav__list-link(href="#") Студийное оборудование
    li.nav__item
      a.nav__list-link(href="#") Звуковое оборудование
    li.nav__item
      a.nav__list-link(href="#") Световое оборудование
    li.nav__item
      a.nav__list-link(href="#") Наушники и&nbsp;гарнитуры
    li.nav__item
      a.nav__list-link(href="#") Коммутация
    li.nav__item
      a.nav__list-link(href="#") Духовые инструменты
    li.nav__item
      a.nav__list-link(href="#")
        | Губные гармошки
        br
        | и&nbsp;мелодики
    li.nav__item
      a.nav__list-link(href="#") Смычковые и&nbsp;щипковые
    li.nav__item
      a.nav__list-link(href="#") Аккордеоны и&nbsp;баяны
  ul.nav__list.nav__list--secondary.nav__list--active
    li.nav__item
      a.nav__list-link(href="#") Классические гитары
    li.nav__item
      a.nav__list-link(href="#") Акустические гитары
    li.nav__item.nav__item--active
      a.nav__list-link(href="#") Акустические бас-гитары
    li.nav__item
      a.nav__list-link(href="#") Электрогитары
    li.nav__item
      a.nav__list-link(href="#") Бас-гитары
    li.nav__item
      a.nav__list-link(href="#") Укулеле
    li.nav__item
      a.nav__list-link(href="#") Народные инструменты
    li.nav__item
      a.nav__list-link(href="#") Наборы и&nbsp;комплекты
    li.nav__item
      a.nav__list-link(href="#") Гитарное усиление
    li.nav__item
      a.nav__list-link(href="#")
        | Процессоры и&nbsp;педали
        br
        | эффектов
    li.nav__item
      a.nav__list-link(href="#") Тюнеры и&nbsp;метрономы
    li.nav__item
      a.nav__list-link(href="#") Струны
    li.nav__item
      a.nav__list-link(href="#") Гитарные аксессуары
  ul.nav__list.nav__list--tertiary.nav__list--active
    li.nav__item
      a.nav__list-link(href="#") Медиаторы
    li.nav__item
      a.nav__list-link(href="#") Тренажеры для пальцев
    li.nav__item
      a.nav__list-link(href="#") Стулья
    li.nav__item
      a.nav__list-link(href="#") Слайды и&nbsp;каподастры
    li.nav__item
      a.nav__list-link(href="#") Стойки и&nbsp;держатели
    li.nav__item
      a.nav__list-link(href="#") Ремни для гитар
    li.nav__item
      a.nav__list-link(href="#") Чехлы и&nbsp;кейсы
    li.nav__item
      a.nav__list-link(href="#") Звукосниматели
    li.nav__item
      a.nav__list-link(href="#") Комплектующие
  .nav__ad
    .nav__ad-row
      a.nav__ad-item.nav__ad-item--with-text(href="#")
        .nav__subtitle электрогитара
        .nav__title Ibanez RG450 Japan 2001
        .nav__ad-price 49 990 ₽
        img.nav__ad-img(src="img/nav/1.png")
    .nav__ad-row
      a.nav__ad-item(href="#")
        img.nav__ad-img(src="img/nav/2.png")
      a.nav__ad-item(href="#")
        img.nav__ad-img(src="img/nav/3.png")
      a.nav__ad-item(href="#")
        img.nav__ad-img(src="img/nav/4.png")
      a.nav__ad-item(href="#")
        img.nav__ad-img(src="img/nav/5.png")
      a.nav__ad-item(href="#")
        img.nav__ad-img(src="img/nav/6.png")
